<footer class="mx-4">
    <hr>
    <!-- <p class="float-end"><a href="#">Back to top</a></p> -->
    <p class="inc">© 2017–2021 Company ARSTRONG Inc.</p>
    <br>
    <strong class="Contact">Contact</strong>
    <br>    
    <p class="contacts-item">
        <span class="contacts-type">C: </span>  
        <a href="tel:+380988551756" class="contacts-number">+380988551756</a>
    </p>
    <p class="contacts-item">
        <span class="contacts-type">E: </span> 
        <a href="mailto:arsendaceno89@gmail.com" class="contacts-email">arsendaceno89@gmail.com</a>
    </p>
    <br>
    <br>
</footer>