{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Hello {{ current_user.name }} - {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!-- {% if name %}
    <h1>Update User</h1>
    <br><br>
    <br><br><br>
    <table class="table table-hover table table-striped table table-bordered">
        {% for our_user in our_users %}
        {% set id = our_user.id %}
        <tr>
            <td>
                {{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} - {{ our_user.favorite_color }} <br>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %} -->

{% if id == current_user.id or current_user.id == 1 %}

    <h1>Update user...</h1>
    <br><br>
    Current Id: {{ id }} 
    <br><br>

    <div class="shadow p-3 mb-5 bg-body rounded">
    <form action="/update/{{ name_to_update.id }}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", value=name_to_update.name) }}
        <br>

        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", value=name_to_update.email) }}
        <br>

        {{ form.submit(class="btn btn-primary") }}

        <a class="btn btn-danger" href="{{ url_for('delete', id=id) }}">Delete</a>
    </form>

    </div>
    <br><br><br>
{% else %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Sorry! You Can`t Edit This User...
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<h2>Access Denied!</h2>
<p>Sorry, you cannot access rhis user profile...</p>
{% endif %}

<!-- {% endif %} -->
{% endblock %}  